/*///////////*/
/*  
@font-face {
  font-family: ;
  src: url();
}
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Plain Light";
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  background-color: #040404;
  position: relative; /*/////(previouly i wrote--> nothing)///////////*/
  overflow-x: hidden;
}
#crsr {
  position: fixed;
  height: 2vw;
  width: 2vw;
  color: transparent;
  border: 0.1vw solid #ffffff;
  border-radius: 50%;
  z-index: 9999;
  /* mix-blend-mode: difference; */
  /*///////////*/
  /* transform: translate(-50%, -50%); */
}
#loader {
  height: 100vh; /*///////////*/
  width: 100%;
  position: fixed; /*///////(Previously I wrote --> absolute)////*/
  background-color: #0b0b0b;
  z-index: 999;
  padding: 13vh 6vw;
  line-height: 1;
}
.line {
  display: flex;
  align-items: center;
  gap: 2.5vw;
  /* background-color: rebeccapurple; */
  overflow: hidden;
}
.line #time-counter {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#time-counter h5,
#time-counter h6 {
  font-size: 2.8vw;
  font-weight: 100;
  font-family: "Silk Serif";
}
#time-counter h6 {
  /* background-color: red; */
  width: 6.5vw;
  text-align: right;
}
.line h1 {
  font-size: 7vw;
  font-weight: 600;
  text-transform: uppercase;
}

.line h2 {
  font-size: 7vw;
  font-weight: 600;
  text-transform: uppercase;
  /* background-color: red; */
  opacity: 0;
  animation-name: anime;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0% {
    opacity: 0;
    -webkit-text-stroke: 0.1vw #ffffff;
    font-weight: 100;
    color: #ffffff;
    font-family: "Plain Light";
  }
  48% {
    opacity: 1;
    -webkit-text-stroke: 0.1vw #ffffff;
    font-weight: 100;
    color: #ffffff;
    font-family: "Plain Light";
  }
  50% {
    opacity: 0;
    -webkit-text-stroke: 0.1vw #ffffff;
    font-weight: 100;
    color: transparent;
    font-family: "Silk Serif";
  }
  100% {
    opacity: 1;
    -webkit-text-stroke: 0.1vw #ffffff;
    font-weight: 100;
    color: transparent;
    font-family: "Silk Serif";
  }
}

#page1 {
  position: relative;
  background-color: #151515;
  height: 100vh;
  width: 100%;
}
#nav-bar {
  width: 100%;
  /* background-color: red; */
  padding-top: 9vh;
  padding-left: 9vw;
  padding-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-prt2 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 2.9vw;
}
#nav-prt2 h4 {
  font-size: 1.15vw;
  font-weight: 500;
}
.hero {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 72.5%;
  margin-left: 27.5%;
  line-height: 1.02;
  /* margin-bottom: 1vw; */
  overflow: hidden;
}
.hero h1 {
  text-transform: uppercase;
  font-size: 7.4vw;
  font-weight: 600;
  letter-spacing: 0.2vw;
  word-spacing: -0.5vw;
}
.hero:nth-child(2) {
  margin-top: 10vh;
}
.hh {
  display: flex;
  align-items: center;
}
.hero h2 {
  text-transform: uppercase;
  font-size: 7.4vw;
  font-weight: 600;
  letter-spacing: 0.2vw;
  /* word-spacing: -0.5vw; */
}
.hero h2:nth-child(1),
.hero h2:nth-child(3) {
  border-bottom: 0.6vw solid #ffffff;
  width: fit-content;
}
.hero h2:nth-child(1) {
  margin-right: 0.5vw;
}
.hero h2:nth-child(1):hover,
.hero h2:nth-child(3):hover {
  /* border-bottom: none; */
  border-bottom: 0.6vw solid #ffffff00; /* ***was looking for it!!!*/
  -webkit-text-stroke: 0.02vw #ffffff;
  color: transparent;
  font-weight: 100;
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding-top: 12vh;
}
#video-container {
  position: relative; /****/
  height: 78vh;
  width: 72vw;
  left: 27vw;
  /* overflow: hidden; */
  /****/
}
#video-container #video-crsr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  background-color: #ffa63d;
  position: absolute;
  z-index: 99; /****/
  top: -10%; /****/
  left: 70%; /****/
}
#video-crsr i {
  font-size: 2vw;
}
#video-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute; /****/
  top: 0; /****/
}
#video-container video {
  height: 99.9%;
  width: 100%;
  object-fit: cover; /****/
}
#page3 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}
#page4 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}
#page4 #page4-content {
  position: relative;
  width: 72%;
  left: 28%;
}
#page4-content h1 {
  font-size: 7.4vw;
  font-weight: 600;
  text-transform: uppercase;
}
#page4-content .underline {
  width: 90%;
  margin-top: 4vh;
  margin-bottom: 9.5vh;
}
/* #page4-content .about-h4 {
  background-color: red;
  width: 50%;
  line-height: 1.2;
  word-spacing: 0.8;
} */
/* .about-h4 h4 {
  font-size: 2.5vw;
  font-weight: 500;
} */
#page4-content > p {
  font-size: 2.51vw;
  font-weight: 500;
  width: 55%;
  line-height: 1.19;
  word-spacing: 0.001vw;
}

#page4-flex {
  margin-top: 11vh;
  display: flex;
  gap: 2.8vw;
  /* background-color: red; */
}
#page4-flex img {
  height: 94.5vh;
  width: 32.5vw;
  object-fit: cover;
}
#page4-flex p {
  /* background-color: red; */
  font-weight: 500;
  font-size: 1.17vw;
  width: 31%;
  line-height: 1.75vw;
}
#page4-bluediv {
  position: relative;
  top: -20.5vh;
  left: 23vw;
  width: fit-content;
  background-color: #3f7df4;
  /* padding: 9vh 5vw; */
  padding-top: 8.9vh;
  padding-left: 4.3vw;
  padding-right: 4.3vw;
  padding-bottom: 12.9vh;
}
.blue-div-elem {
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 5.2vh 0;
  border-bottom: 0.1vw solid #fff;
}
.blue-div-elem h4 {
  /* background-color: #ffa63d; */
  width: 11.9vw;
  font-size: 1.7vw;
  font-weight: 500;
  line-height: 1;
}
.blue-div-elem p {
  /* background-color: lightcoral; */
  width: fit-content;
  font-size: 1.2vw;
  font-weight: 400;
}
#page5 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}
.underline2 {
  width: 90%;
  margin-top: 9vh;
  opacity: 0.9;
  background-color: #8d8d8d;
}
