* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  color: #ffffff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  background-color: #141414;
}
#nav {
  height: 50px;
  display: flex;
  align-items: center; /*******************/
  justify-content: space-between;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
#nav-prt2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
h2 {
  font-size: 140px;
  line-height: 110px;
  font-weight: 400;
  width: fit-content; /*******************/
  text-transform: uppercase;
  letter-spacing: -10px;
  z-index: 100;
}
h2:nth-child(2) {
  position: relative;
  margin-top: 100px;
  margin-left: 120px;
}
h2:nth-child(3),
h2:nth-child(4) {
  /*******************/
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#img {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 235px;
  width: 200px;
}
img {
  position: absolute; /*******************/
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#img1 {
  transform: rotate(20deg); /*******************/
}
#img2 {
  transform: rotate(10deg);
}
#btm {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 60%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

#btm-prt2 {
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}
